<input type="text" [value]="exp">
<br>
<input type="button" value="AC" (click)="clear()"/>
<br>
<input type="button" value="7" (click)="keyPress('7')"/>
<input type="button" value="8" (click)="keyPress('8')"/>
<input type="button" value="9" (click)="keyPress('9')"/>
<input type="button" value="+" (click)="keyPress('+')"/>
<br>
<input type="button" value="4" (click)="keyPress('4')"/>
<input type="button" value="5" (click)="keyPress('5')"/>
<input type="button" value="6" (click)="keyPress('6')"/>
<input type="button" value="-" (click)="keyPress('-')"/>
<br>
<input type="button" value="1" (click)="keyPress('1')"/>
<input type="button" value="2" (click)="keyPress('2')"/>
<input type="button" value="3" (click)="keyPress('3')"/>
<input type="button" value="/" (click)="keyPress('/')"/>

<br>
<input type="button" value="0" (click)="keyPress('0')"/>




<input type="button" value="*" (click)="keyPress('*')"/>
<input type="button" value="=" (click)="process()"/>